<!-- <div class="container">
    
</div> -->
<div class="container">
        <div class="row">
                <div class="col-md-12">
                    <h3 class="text-left">Symptoms related to your search</h3>
                </div>
            </div>
    <div class="row row-fitur">
        <div class="col-md-4 col-sm-4 waves-effect kolom-a">
            <div class="fitur-a"><img src="assets/ic-lock.png"></div>
            <div class="separator-fitur"></div>
            <div>
                <h4 class="heading-fitur">Secure </h4>
                <p class="paragraf-fitur">Our 2-of-3 multi-signature wallet removes all single points of failure by using 3 keys: your private key,
                    your offline backup key and BitGo’s co-signing key. Each transaction requires 2 keys for signing giving
                    you full control.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 waves-effect kolom-b">
            <div class="fitur-a"><img src="assets/ic-check.png"></div>
            <div class="separator-fitur"></div>
            <div>
                <h4 class="heading-fitur">Simple </h4>
                <p class="paragraf-fitur">BitGo provides a simple and robust REST-ful API as well as an easy to use client SDK to integrate multi-signature
                    technology into your existing applications and services. The integration can be as simple as changing
                    one line of code. </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 waves-effect kolom-c">
            <div class="fitur-a"><img src="assets/ic-flaw.png"></div>
            <div class="separator-fitur"></div>
            <div>
                <h4 class="heading-fitur">Powerfull </h4>
                <p class="paragraf-fitur">Our powerful, client-side SDK implements all the security details needed for today's wallet and blockchain
                    related application needs. You stay focused on your business and application while we take care of the
                    blockchain details. Secure. Easy. Safe. </p>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Legacy</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-4 item">
                    <h3>Products </h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-4 item">
                    <h3>Careers</h3>
                    <ul>
                        <li><a href="#">Job openings</a></li>
                        <li><a href="#">Employee success</a></li>
                        <li><a href="#">Benefits</a></li>
                    </ul>
                </div>
                <div class="col-md-3 item social">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    <p class="copyright">Lev Levit corporation © 2017</p>
                </div>
            </div>
        </div>
    </footer>
</div>
