<div class="maincontainer row">
    <div class=" input-pad marginBottom30">
        <h3 class="md-headline purpleColor ">History</h3>
    </div>
    <div class="row  padding30 marginLeft50">
        <div class="col s5  marginTop40">

            <div class="input-field ">
                <label for="height">Current medication</label>
                <input id="height" type="text" class="validate">
            </div>

            <div class="input-field margintop50 ">
                <label for="height">Surgery History</label>
                <input id="weight" type="text" class="validate">
            </div>

            <div class="input-field margintop50 ">
                <label for="bmi">Previous Doctor</label>
                <input id="bmi" type="text" class="validate">
            </div>
            <div class="input-field margintop50 ">
                <label for="bmi">Places Visited</label>
                <input id="bmi" type="text" class="validate">
            </div>
        </div>

        <div class="col s5 paddingLeft30">
            <div class="row">
                <h4 class="purpleColor">Social</h4>
                <div class="row border">
                    <mat-form-field>
                        <mat-select placeholder="Smoking states">
                            <mat-option *ngFor="let visit of purposeOfVisit" [value]="visit.value">
                                {{ visit.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="Alcohol">
                            <mat-option *ngFor="let psymptoms of primarySymptoms" [value]="psymptoms.value">
                                {{ psymptoms.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="Tobocco">
                            <mat-option *ngFor="let sSymptoms of secondarySymptoms" [value]="sSymptoms.value">
                                {{ sSymptoms.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="Drugs">
                            <mat-option *ngFor="let sSymptoms of secondarySymptoms" [value]="sSymptoms.value">
                                {{ sSymptoms.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="Sleep Schedule Time">
                            <mat-option *ngFor="let sSymptoms of secondarySymptoms" [value]="sSymptoms.value">
                                {{ sSymptoms.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>

                <h4 class="md-headline purpleColor ">Family History</h4>
                <table class="full-width familytable " cellspacing="0">

                    <tr>
                        <th>RelationShip</th>
                        <th>Heart Disease</th>
                        <th>Diabetes</th>
                        <th>Treatment</th>
                        <th>Cancer</th>
                    </tr>
                    <tr>
                        <td>Father</td>
                        <td>Y</td>
                        <td>N</td>
                        <td>Y</td>
                        <td>N</td>
                    </tr>
                    <tr>
                        <td>Mother</td>
                        <td>Y</td>
                        <td>Y</td>
                        <td>N</td>
                        <td>Y</td>

                    </tr>
                </table>

            </div>
            <div class="nextbutton">
                <a routerLink="/patient-treatment-plan"> <button mat-button mat-raised-button>Next</button></a>
            </div>
        </div>
        </div>
        </div>