<div class="maincontainer col-lg-12">
  <div class="row input-pad">
      <h3  class="md-headline purpleColor ">Symptoms</h3>
     
 
  <div class="col-lg-12 margintop30 ">
    <div class="col-lg-6">
       <div class="box" [routerLink]="['/preference-facility']">
          
        <span class="glyphicon glyphicon-remove "></span>
         <div class="name">Facility</div>
      </div>
    </div>
      
    <div class="col-lg-6">
        <div class="box" [routerLink]="['/preference-labs']">
            <span class="glyphicon glyphicon-remove "></span>
            <div class="name">Labs</div>
        </div>
      </div>
     </div>
     <div class="col-lg-12 margintop30">
        <div class="col-lg-6">
           <div class="box" [routerLink]="['/preference-imaging']">
            <span class="glyphicon glyphicon-remove "></span>
             <div class="name">Imaging</div>
          </div>
        </div>
          
        <div class="col-lg-6">
            <div class="box" [routerLink]="['/preference-surgical']">
                <span class="glyphicon glyphicon-remove "></span>
                <div class="name">Surgical</div>
            </div>
          </div>
         </div>
</div>