<div class="maincontainer row">
        <div class=" input-pad marginBottom30">
            <h3 class="md-headline purpleColor ">Vitals</h3>
        </div>
        <div class="row border padding30 marginLeft50">
        <div class="col s6">
            <div class="row">
                <div class="input-field floatleft">
                    <label for="height">Height</label>
                    <input id="height" type="text" class="validate">
                 </div>
    
                <div class="input-field floatleft">
                    <label for="height">Weight</label>
                    <input id="weight" type="text" class="validate">
                 </div>
    
                <div class="input-field floatleft">
                    <label for="bmi">BMI</label>
                    <input id="bmi" type="text" class="validate">
                </div>
            </div>


            <div class="row">
                    <h4 >Blood Pressure</h4>
                    <div class="input-field floatleft">
                        <label for="systolic">Systolic</label>
                        <input id="systolic" type="text" class="validate">
                     </div>
        
                    <div class="input-field floatleft">
                        <label for="diastolic">Diastolic</label>
                        <input id="diastolic" type="text" class="validate">
                    </div>
                </div>

                <div class="row">
                        <h4 >Blood Sugar</h4>
                        <div class="input-field floatleft">
                            <label for="withfasting">With Fasting</label>
                            <input id="withfasting" type="text" class="validate">
                         </div>
            
                        <div class="input-field floatleft">
                            <label for="withoutfasting">WithOut Fasting</label>
                            <input id="withoutfasting" type="text" class="validate">
                        </div>
                    </div>

                    <div class="input-field ">
                            <label for="oo">Other Observation</label>
                            <input id="oo" type="text" class="validate">
                         </div>
        </div>

        <div class="col s6">
                <div class="row">
                    <div class="input-field  ">
                        <label for="height">Pulse</label>
                        <input id="height" type="text" class="validate">
                     </div>
        
                    <div class="input-field marginTop30">
                        <label for="rr">Respiratory Rate</label>
                        <input id="rr" type="text" class="validate">
                     </div>
        
                    <div class="input-field marginTop30 ">
                        <label for="vp">Blood Temp(c)</label>
                        <input id="bp" type="text" class="validate">
                    </div>

                    <div class="input-field marginTop30">
                            <label for="oxygen">Oxygen%</label>
                            <input id="oxygen" type="text" class="validate">
                        </div>
                </div>

            </div>

            </div>
                <div class="nextbutton">
                        <button mat-button mat-raised-button>Next</button>
                    </div>
    </div>