<div class="maincontainer row">
  <div class=" input-pad">
      <h3 class="md-headline purpleColor ">Vitals</h3>
  </div>
  <table  class="bodycontainer bordertable">
      <div class="col s6 input-pad marginTop30 marginBottom30">
          <table class="full-width" cellspacing="0">
              <tr class="margintop50">
              <td>
                  <mat-form-field class="full-width">
                      <input matInput placeholder="Height">
                  </mat-form-field>
              </td>
              <td>
                      <mat-form-field class="full-width">
                          <input matInput placeholder="Weight">
                      </mat-form-field>
              </td>
              <td>
                      <mat-form-field class="full-width">
                          <input matInput placeholder="BMI">
                      </mat-form-field>
              </td>
              </tr>
              <label>Blood Pressure</label>
              <tr>
                  <td>
                  <mat-form-field class="full-width">
                      <input matInput placeholder="Systolic">
                  </mat-form-field>
                 </td>
                <td>
                      <mat-form-field class="full-width">
                              <input matInput placeholder="Diastolic">
                          </mat-form-field>
                </td>
              </tr>

          
               <label>Blood Sugar</label>
              <tr >
                  <td >
                  <mat-form-field class="full-width">
                      <input matInput placeholder="With Fasting">
                  </mat-form-field>
              </td>
              <td >
                      <mat-form-field class="full-width">
                              <input matInput placeholder="WithOut Fasting">
                          </mat-form-field>
              </td>
              </tr>
      
              <tr >
                  <td colspan="3">
                  <mat-form-field class="full-width">
                      <textarea matInput placeholder="Other Observations"></textarea>
                  </mat-form-field>
              </td>
              </tr>
          </table>
      </div>

      <div class="col s6 input-pad marginTop30 ">
          <table class="full-width marginLeft30" cellspacing="0">
                  <tr>
                          <mat-form-field class="full-width">
                              <input matInput placeholder="Pulse">
                          </mat-form-field>
                  </tr>
                  <tr>
                          <mat-form-field class="full-width">
                              <input matInput placeholder="Respiratory Rate(RR)">
                          </mat-form-field>
                  </tr>

              <tr>
                  <mat-form-field class="full-width">
                      <input matInput placeholder="Blood Temp(c)">
                  </mat-form-field>
              </tr>
              <tr>
                  <mat-form-field class="full-width">
                      <input matInput placeholder="Oxygen %">
                  </mat-form-field>
              </tr>
          </table>

      </div>
    
    </table>
  <div class="nextbutton">
    <button mat-button mat-raised-button >Next</button>
  </div>
</div>