.full-width
{
    width: 100%;
   
    
}

.intake-form
{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.input-pad
{
    padding-left: 50px;
    padding-right: 50px;
}

.contact-pad {
    padding-top: 15px;
    border-color: black;
    border-width: 2px;
    border-radius: 2px;
}
.mat-form-field  {
    display: inline;
    position: relative;
    text-align: left;
    color: #5a4989;
}
.mat-radio-group
{
    display: inline;
    position: relative;
    text-align: left; 
    color: #5a4989;
}
button
{
    background-color:#5a4989;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 17px;
}
.purpleColor
{
    color: #5a4989;  
}
.bordertable
{
    border: 1px solid black;
    text-align: left;
}
.familytable
{
    border: 1px solid black;
    padding: 20px;
    text-align: left;
   
}

.familytable  tr td {
    border: 1px solid black;
    padding: 10px;
}

.familytable  tr th {
    border: 1px solid black;
    padding: 10px;
}
.margintop50
{
    margin-top: 50px;
}
.bordertable tr td{
padding-left: 20px;
padding-right: 20px;
}
.bodycontainer
{
    margin-top: 30px;
    width: 100%;    
}
.bodycontainer table tr td{
    padding-right: 10px;
}
label
{
    margin-top: 20px;
    color: #5a4989
}
tr
{
    margin-top: 30px;
}
.maincontainer
{
    background: #F5F5F5;
    padding-left: 160px;
    overflow:scroll;
    overflow-y: auto;
    height:950px; 
    width: 100%;  
    padding-right: 20px;
}
.nextbutton
{
    float: right;
    margin-top: 50px;
    margin-right: 50px;

}
.bordertable
{
    border: 1px solid #5a4989;
    text-align: left;
}
.marginTop30
{
    margin-top: 30px;
}

.marginBottom30{
    margin-bottom: 30px;
}
.marginLeft30{
    margin-left: 30px;
}

label
{
    margin-top: 0px;
    font-size: 14px;
    font-weight: normal;
}
.floatleft
{
    float: left;
    margin-left: 15px;
}
.border
{
    border: 1px solid #5a4989;   
}
.padding30
{
    padding: 30px;
}
.marginLeft50
{
    margin-left: 50px;
}