<app-header></app-header>
<!-- <div class="page-container"> -->
        <div class="sidebar-menu">
          <div class="menu">
            <ul id="menu">
              <li id="menu-home" ><a href="/dash-board"><span class="glyphicon material-icons">av_timer</span><span>Dashboard</span></a></li>
              <li id="menu-home" ><a href="#"><span class="glyphicon material-icons">perm_identity</span><span>Patient Management</span></a>
              
                <ul>
                  <li><a href="#"> Demographics</a></li>
                  <li><a href="/patient-symptoms"> Symptoms</a></li>
                  <li><a href="/patient-vitals"> Vitals</a></li>
                  <li><a href="/patient-history"> History</a></li>
                  <li><a href="#">Past Medical History</a></li>
                  <li><a href="/patient-treatment-plan"> Treatment Plan</a></li>
                </ul>
              
              </li>
              <li id="menu-home" ><a href="#"><span class="glyphicon material-icons">assignment</span><span>Lab Reports</span></a></li>
              <li id="menu-home" ><a href="#"><span class="glyphicon material-icons">monetization_on</span><span>Billing</span></a></li>
              <li id="menu-home" ><a href="/aptryt-dashboard"><span class="glyphicon material-icons">trending_up</span><span>Aptryt Insights</span></a></li>
              <li><a href="#"><span class="glyphicon material-icons">message</span><span>Messages</span></a>
              </li>
              <li id="menu-home" ><a href="/preference-dashboard"><span class="glyphicon material-icons">settings</span><span>Preferences</span></a>
               
              </li>
              <li id="menu-home" ><a href="#"><span class="glyphicon material-icons">exit_to_app</span><span>Exit</span></a></li>
            </ul>
          </div>
        </div>
      <!-- </div> -->
      <div class="right">
            <router-outlet></router-outlet>
        </div>
<app-footer></app-footer>       
