<div class="col-md-12 " *ngIf="weatherDetails">
    <h3>{{weatherDetails?.name }}</h3>

    <div class="col-md-4">
        <img class="icon" src="http://openweathermap.org/img/w/{{weatherDetails.weather[0].icon}}.png" />
    </div>
    <div class="col-md-8">
        <div class="temp">
            <h3>Current: {{weatherDetails?.main.temp}}&#8451;</h3>
            <p> min: {{weatherDetails?.main.temp_min}} &#8451;, max: {{weatherDetails?.main.temp_max}} &#8451;</p>
        </div>
    </div>
    
    
</div>