
h5 {
    font-size: 14px;
    text-align: center;
    display: inline-block;
    padding-top: 5px;
    text-align: left;
    color: black;
}
.temp
{
    color: black; 
    display: inline-grid;
    position: absolute;

}

img
{
    margin-left: -10px;
}

.icon
{
    width: 100px;
    height: 100px;
}

.details
{
    display: inline-block;
}
