.maincontainer
{
    background: #F5F5F5;
    padding-left: 160px;
    overflow:scroll;
    overflow-y: auto;
    height:950px; 
    width: 90%;   
}

.mat-form-field
{
    width: 50px !important;
    margin-left: 10px;
} 
  
.table th
{
    color: white!important;
    background:#5a4989;
    border:1px solid #5a4989;

}

.table td
{
    color: black!important;
    background:#e4d8f4;
    border:2px solid white;

}
.margin-left20
{
    margin-left: 20px;
}
.shadded-color
{
    color: #5a4989;
}
button
{   background: #F5F5F5;
    border:none;
    color: black;
    text-decoration: underline;
}